/* .project-grid {
    grid-auto-rows: minmax(400px, 35vw);
}

.project-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform-style: preserve-3d;
    pointer-events: all;
    cursor: pointer;
}

.project-container a {
    opacity: 0;
    transition: .3s ease;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

.project-container:hover a {
    opacity: 1;
    transition: .3s ease;
} */

/* .project-container a:hover {
    
} */

@media screen and (max-width: 768px) {
    .span-2 {
        grid-row: unset;
    }

    .span-2-col {
        grid-column: unset;
    }
}

.span-2 {
    grid-row: span 2;
}

.span-2-col {
    grid-column: span 2;
}

.modal {
    top: calc(100% + 20px);
    transition: .5s ease;
    background-color: var(--black);
}

.modal.open {
    top: 0;
}

.close {
    transition: .3s linear;
    height: 50px;
    aspect-ratio: 1/1;
    gap: 5px;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--black);
    transition: .3s ease;
}

.close:hover {
    width: auto;
    aspect-ratio: unset;
    padding: .5rem 1rem;
    background-color: var(--black);
    transition: .3s ease;
}

.close::after {
    font-family: FontAwesome;
    content: "\f060";
    display: inline-block;
    color: var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.close:hover::after {
    display: none;
}

.close .text {
    max-width: 0px;
    opacity: 0;
    color: white;
    transition: width .3s ease;
}

.close:hover .text {
    max-width: 100px;
    opacity: 1;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}

.loading-screen {
    position: relative;
    background-color: var(--black);
    width: 100%;
    height: 0%;
}

.swiper-wrapper {
    height: 38rem;
}

.section-title {
    background: linear-gradient(90deg,var(--primary), var(--primary) 5%,transparent);
    padding: 10rem 2rem;
}

.section-title .h2 {
    font-size: 3rem;
}

* {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  main.ho {
    position: fixed;
    top: 0;
    left: 0;
  /*  note vh and vw switched  */
    width: 100vh; 
    height: 100vw;
  /*    */
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    overflow-x: hidden;
    overflow-y: scroll;
  /*   scroll-snap-type: y mandatory; */
  }
  
  .ho article {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vh);
  }
  
  .ho a {
    width: calc(100vw / 4);
    height: 100vh;
  /*   scroll-snap-align: start; */
    overflow-y: hidden;
  /*  backface visibility keeps font from looking weird  */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: var(--secondary);
  }

  .ho a:not(:first-child):not(:last-child)  {
    margin: 0 5px;
  }

  .ho a:first-child  {
    margin-right: 5px;
  }

  .ho a:last-child  {
    margin-left: 5px;
  }

  .card-content {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  .card-title {
    padding: 1rem;
  }

    .ho a.hovered h3, .ho a.hovered h2 {
        color: var(--secondary);
    }



    /* .ho a.hovered ::before {
        top: -100%;
    } */

  .ho a .card-content img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    transform-origin: bottom;
    transition: opacity .4s ease;
    clip-path: polygon(0% 69.75%, 100% 69.75%, 100% 69.75%, 0% 69.75%);
    transition: filter .3s ease-in;
    filter: brightness(1);
  }

  .ho a.hovered .card-content img {
    filter: brightness(.7);
  }

  .ho a h3 {
    z-index: 1;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0;
    transform: translate(0 50%);
  }

  .ho a h2 {
    z-index: 1;
    font-size: 3.8rem;
    line-height: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(-100% 0);
  }