.h1 {
    font-size: clamp(48px, 15vw, 144px);
    line-height: clamp(48px, 15vw, 144px);
}

.h2 {
    font-size: clamp(48px, 15vw, 144px);
}

.flip {
    overflow: hidden;
    height: clamp(48px, 15vw, 144px);
}

.flip .h1 {
    display: block;
    animation: flipWords 8s 5s infinite;
}

@keyframes flipWords {
    15% {
        transform: translateY(-105%);
    }

    20% {
        transform: translateY(-100%);
    }

    25% {
        transform: translateY(-100%);
    }

    40% {
        transform: translateY(-205%);
    }

    45% {
        transform: translateY(-200%);
    }

    50% {
        transform: translateY(-200%);
    }

    65% {
        transform: translateY(-305%);
    }

    70% {
        transform: translateY(-300%);
    }

    75% {
        transform: translateY(-300%);
    }

    90% {
        transform: translateY(-405%);
    }

    95% {
        transform: translateY(-400%);
    }

    100% {
        transform: translateY(-400%);
    }
}